.dragDrop{
    position: relative;
    margin-top: 30px;
    border: 1px solid #b9b9b9;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7c7c7c;
    flex-direction: column;
    padding:10px;
}

.over{
    boder: 1px solid #DE7E7E;
    color: #DE7E7E;
    background-color: #FFEDED;
}

.upload{
    padding: 0 20px;
    height: 30px;
    margin-top: 10px;
    border: 0;
    cursor:pointer;
}