.snackbar {
    position: absolute;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: fadeinout 1000ms;
    animation-fill-mode: forwards;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px gray solid;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
