.snackbar {
    position: absolute;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: fadeout 1000ms;
    animation-fill-mode: forwards;
    bottom: 0px;
    border: 2px gray solid;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
